[submodule "game_servers/fbneo"]
	path = cores/fbneo
	url = ssh://git@github.com/libretro/FBNeo.git
[submodule "game_servers/chocolate-doom"]
	path = cores/chocolate-doom
	url = https://github.com/0xe1f/chocolate-doom.git
[submodule "game_servers/blueberryMSX"]
	path = cores/bluemsx
	url = https://github.com/libretro/blueMSX-libretro.git
[submodule "game_servers/genplus-gx"]
	path = cores/genplus-gx
	url = https://github.com/libretro/Genesis-Plus-GX.git
[submodule "game_servers/geargrafx"]
	path = cores/geargrafx
	url = https://github.com/drhelius/Geargrafx.git
[submodule "game_servers/nestopia"]
	path = cores/nestopia
	url = https://github.com/libretro/nestopia.git
[submodule "game_servers/snes9x"]
	path = cores/snes9x
	url = https://github.com/snes9xgit/snes9x.git
[submodule "game_servers/mgba"]
	path = cores/mgba
	url = https://git@github.com/mgba-emu/mgba.git
[submodule "atari800"]
	path = cores/atari800
	url = https://github.com/libretro/libretro-atari800.git
[submodule "game_servers/picodrive"]
	path = cores/picodrive
	url = https://github.com/libretro/picodrive.git
[submodule "game_servers/dosbox"]
	path = cores/dosbox
	url = https://github.com/libretro/dosbox-core.git
[submodule "cores/prboom"]
	path = cores/prboom
	url = https://github.com/libretro/libretro-prboom.git
