[submodule "game_servers/fbneo"]
	path = game_servers/fbneo
	url = https://github.com/0xe1f/FBNeo.git
[submodule "game_servers/chocolate-doom"]
	path = game_servers/chocolate-doom
	url = https://github.com/0xe1f/chocolate-doom.git
[submodule "game_servers/blueberryMSX"]
	path = game_servers/bluemsx
	url = https://github.com/0xe1f/blueberryMSX.git
[submodule "game_servers/wolf4sdl"]
	path = game_servers/wolf4sdl
	url = https://github.com/0xe1f/wolf4sdl.git
[submodule "game_servers/genplus-gx"]
	path = game_servers/genplus-gx
	url = https://github.com/0xe1f/Genesis-Plus-GX.git
[submodule "game_servers/geargrafx"]
	path = game_servers/geargrafx
	url = https://github.com/0xe1f/Geargrafx.git
[submodule "game_servers/nestopia"]
	path = game_servers/nestopia
	url = https://github.com/0xe1f/nestopia.git
