- title_id: swat
  title: "SWAT"
  genres:
    - action
  app_id: atari800
  system: atari_800
- title_id: warcraft_2
  title: "Warcraft 2: Tides of Darkness"
  genres:
    - strategy
  app_id: dosbox
  system: msdos
  extra_args: >-
    --scale-mode half
    --autopress 0:32:1
