- id: mvscu
  title: "Marvel Vs. Capcom: Clash of Super Heroes"
  genres:
    - head-to-head
  tags:
    - cps2
  series:
    - marvel
- id: digdug2
  title: "Dig Dug 2"
  orientation: portrait
- id: galaga
  title: "Galaga"
  year: "1981"
  company: "Namco"
  system: "Miscellaneous"
  genres:
    - shooter
  orientation: portrait
- id: pacman
  title: "Pac-Man"
  year: "1980"
  company: "Namco"
  system: "Pac-man"
  orientation: portrait
