body {
    background-color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; /* 3fr; */
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: #0273c0;
}

#status {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    background-color: #fff;
    padding: 16px 24px;
    align-items: center;
    grid-column: 1/1;
    grid-row: 1/2;
    /* background-color: #f6f8fc; */
    border-bottom: solid 1px #dadce0;
}

.app-name {
    color: red;
    font-size: 20pt;
    width: 250px;
    font-weight: bold;
}

#status .title {
    margin-left: 16px;
    margin-right: auto;
    font-size: 20pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

#status .title.valid {
    color: #000;
}

#search {
    width: 250px;
    box-sizing: border-box;
    padding: 0.25em 1em;
    border: solid 1px #999;
    border-radius: 25px;
    margin: 0px 8px;
    font-size: 14pt;
    color: #000;
}

#stop {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 0px 8px;
    border-radius: 25px;
}

#stop:hover {
    background-color: #efefef;
}

#stop:disabled {
    opacity: 50%;
}

div:has(> #volume) {
    margin: 0 0 0 8px;
}

#content {
    grid-column: 1/1;
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 1fr;
    column-gap: 1em;
    overflow: hidden;
}

#filters {
    padding-left: 16px;
    grid-column: 1/2;
    grid-row: 1/1;
    overflow-y: auto;
}

#games {
    grid-column: 2/2;
    grid-row: 1/1;
    overflow-y: auto;
    padding: 0 16px;
}

#drop_target {
    grid-column: 1/1;
    grid-row: 2/2;
    visibility: hidden;
}

#footer {
    padding: 10px 16px;
}

#drop_target.hovering {
    visibility: visible;
}

.filters .label {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0.5em 0;
    display: block;
    font-weight: bold;
}

.scrimmed .filters .label {
    position: inherit;
}

.filters.active .label {
    cursor: pointer;
}

.filter {
    cursor: pointer;
    border: solid 1px #0000;
    border-radius: 25px;
    padding: 0.25em 0.75em;
    display: block;
    white-space: nowrap;
}

.filters input[type=text] {
    padding: 0.25em 0.75em;
    margin: 0.5em 0.25em;
    white-space: nowrap;
    border: none;
    border-bottom: solid 1px #000;
}

.filter .count {
    display: inline-block;
    min-width: 13px;
    min-height: 13px;
    text-align: center;
    margin-left: 0.5em;
    background-color: #666;
    color: #fff;
    border-radius: 25px;
    font-size: 8pt;
    padding: 2px;
}

.filter.selected {
    background: #cedefa;
}

.filter:hover {
    border-color: #ccc;
}

.game {
    border-bottom: solid 1px #ddd;
    color: #000;
    padding: 0.5em 0.5em;
}

.game.selected {
    font-weight: bold;
}

.game.active {
    background-color: #ffffcc;
}

.game:hover {
    background-color: #eee;
    cursor: pointer;
}

.game .title {
    font-size: 14pt;
}

.game .company,
.game .year {
    display: block;
    color: #999;
    font-size: 10pt;
}

.game .system {
    display: none;
}

#scrim {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

#scrim img {
    left: 50%;
    top: 50%;
    position: fixed;
    margin-left: -128px;
    margin-top: -128px;
}

.scrimmed #scrim {
    display: block;
}

#drop_target span {
    display: block;
    margin: 0 25px 25px 25px;
    border: dotted 5px #777;
    border-radius: 25px;
    background-color: #7777;
    pointer-events: none;
    color: #fff;
    align-content: center;
    text-align: center;
    font-size: 96pt;
    backdrop-filter: blur(10px);
    height: 100%;
}

.scrimmed input {
    display: none !important;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media only screen and (max-width: 600px) {
    #status {
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 8px 8px;
    }

    .app-name {
        display: none;
    }

    #status .title {
        font-size: 18pt;
        flex-basis: 100%;
    }

    #filters {
        display: none;
    }

    #search {
        margin-left: auto;
        min-width: 0;
    }

    #stop {
        margin: 0px 0px 0px 8px;
    }

    #games {
        grid-area: 1 / 1 / span 1 / span 2;
        padding: 0;
    }
}
