body {
    font-family: sans-serif;
    padding: 2em;
}

.game {
    margin: 0.25em 0;
    border: solid 2px #777777;
    border-radius: 0.25em;
    padding: 0.5em 0.5em;
}

.game:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.title {
    font-size: 18pt;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
