<!DOCTYPE html>
<html lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="static/main.js"></script>
    <title>Games</title>
  </head>
  <body>
    {% for game in games %}
    <div class="game" data-id="{{ game.id }}">
      <span class="title">{{ game.title }}</span>
    </div>
    {% endfor %}
  </body>
</html>
