<!DOCTYPE html>
<html lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/reader.css" />
    <link rel="icon" type="image/x-icon" href="static/favicon.png" />
    <script src="static/jquery-3.7.1.min.js"></script>
    <script src="static/jquery.knob.min.js"></script>
    <script src="static/main.js"></script>
    <title>Games</title>
  </head>
  <body>
    <div id="scrim">
      <img src="static/spinner.gif" />
    </div>
    <div id="status">
      <input id="volume" type="text" />
      <span id="title_label" class="label">Currently running (<a id="stop" href="#stop">stop</a>):</span>
      <span class="title" />
    </div>
    <div id="content">
      <div id="filters">
        {% for filter in filters %}
          {% if filter.options | length > 0 %}
            <div id="{{ filter.id }}" class="filters {{ filter.type }}">
              <span class="label">{{ filter.label }}</span>
              <div class="scroller">
                {% for option in filter.options | sort %}
                  <span class="{{ filter.id }} filter" data-id="{{ filter.prefix }}:{{ option }}">{{ option }}<span class="count"></span></span>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="games">
        {% for game in games | sort(attribute='title') %}
          <div class="game" data-id="{{ game.id }}" data-filters="{{ game.filters | join(' ') }}">
            <span class="title">{{ game.title }}</span>
            <span class="year">{{ game.year }}</span>
            <span class="company">{{ game.company }}</span>
            <span class="system">{{ game.system }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="footer">
      0xe1f/<a href="https://github.com/0xe1f/red">red</a>, 2024
    </div>
    {% if uploads_supported %}
      <div id="drop_target">
        <span>Drop Here</span>
      </div>
    {% endif %}
  </body>
</html>
