<!DOCTYPE html>
<html lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <script src="static/jquery-3.7.1.min.js"></script>
    <script src="static/jquery.knob.min.js"></script>
    <script src="static/main.js"></script>
    <title>Games</title>
  </head>
  <body>
    <div id="scrim">
      <img src="static/spinner.gif">
    </div>
    <div id="status">
      <a class="app-name" href="https://github.com/0xe1f/red" target="_blank">RED</a>
      <span class="title"></span>
      <svg id="stop" viewBox="0 -960 960 960" fill="#5f6368">
        <title>Stop</title>
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
      </svg>
      <input id="search" type="text" autocomplete="off" placeholder="Search" />
      <input id="volume" type="text">
    </div>
    <div id="content">
      <div id="filters">
      </div>
      <div id="games">
      </div>
    </div>
    {% if uploads_supported %}
      <div id="drop_target">
        <span>Drop Here</span>
      </div>
    {% endif %}
  </body>
</html>
