<!DOCTYPE html>
<html lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="icon" type="image/x-icon" href="static/favicon.png" />
    <script src="static/jquery-3.7.1.min.js"></script>
    <script src="static/jquery.knob.min.js"></script>
    <script src="static/main.js"></script>
    <title>Games</title>
  </head>
  <body>
    <div id="scrim">
      <img src="static/spinner.gif" />
    </div>
    <div id="running">
      <input id="volume" type="text" />
      <span class="tooltip">Currently running:</span>
      <span class="title" />
    </div>
    <div id="content">
      <div id="orientation" class="filters mutex">
        <span class="label">Orientation:</span>
        <div class="scroller">
          {% for orientation in orientations | sort %}
            <span class="genre filter" data-id="o:{{ orientation }}">{{ orientation }}<span class="count"></span></span>
          {% endfor %}
        </div>
      </div>
      {% if genres | length > 0 %}
        <div id="genres" class="filters mutex">
          <span class="label">Genres:</span>
          <div class="scroller">
            {% for genre in genres | sort %}
              <span class="genre filter" data-id="g:{{ genre }}">{{ genre }}<span class="count"></span></span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if tags | length > 0 %}
        <div id="tags" class="filters multi">
          <span class="label">Tags:</span>
          <div class="scroller">
            {% for tag in tags | sort %}
              <span class="tag filter" data-id="t:{{ tag }}">{{ tag }}<span class="count"></span></span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% for game in games | sort(attribute='title') %}
      <div class="game" data-id="{{ game.id }}" data-filters="{{ game.filters | join(' ') }}">
        <span class="title">{{ game.title }}</span>
        <span class="year">{{ game.year }}</span>
        <span class="company">{{ game.company }}</span>
        <span class="system">{{ game.system }}</span>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
