[Unit]
Description=RED Frame Subscriber Service

[Service]
ExecStart=/usr/bin/sudo {SERVICE_PATH} {ARGS}
Restart=on-failure
Type=simple
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=default.target
